@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    position: relative;
}

._container {
    width: 100%;
    max-width: 1270px;
    margin: 0px auto;
    padding: 0 15px;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

.menu {
    position: fixed;
    z-index: 1000000;
    width: 190px;
    background: #1b1a1a;
    border-radius: 5px;
    list-style: none;

    transform: scale(0);
    transform-origin: top left;
}

.menu.open {
    transform: scale(1);
    transition: transform 200ms ease-in-out;
}

.menu .menu-item {
    padding: 8px 10px;
    font-size: 1rem;
    color: #eee;
    cursor: pointer;
    transition: background-color .2s ease-in;
    border-radius: inherit;
}

.menu .menu-item.disabled {
    z-index: 1000;
    opacity: 0.6;
    pointer-events: none;
}

.menu .menu-item:hover {
    background: #343434;
}

/* //======================================================================================================================================================== */

.timer {
    user-select: none;
    pointer-events: none;
    width: 100%;
    height: 100vh;
    background: blue;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
}

.timer span {
    font-size: 30px;
    color: #000;
    animation: flicker 1.5s linear infinite;
    transition: color 0.6s linear 0s;
    margin: 0px 0px 5px 0px;
}

.timer h1 {
    font-size: 28px;
    letter-spacing: 5px;
    font-weight: 700;
    color: #fff;
}

@keyframes flicker {
    0% {
        color: #000;
    }
    50% {
        color: #fff;
    }
    100% {
        color: #000;
    }
}

#loader {
    font-size: 24px;
    font-weight: 700;
    margin: 0px 0px 30px 0px;
}

.messages {
    user-select: none;
    width: 100%;
    position: fixed;
    z-index: 99;
    min-height: 100vh;
    background: #ffff;
    padding: 30px 0px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s ease-out 0s;
}
.info {
    font-size: 28px;
    color: #000;
    font-weight: 700;
    letter-spacing: 2.5px;
    text-align: center;
}
.info__sound {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.messages.active {
    opacity: 1;
    visibility: visible;
    transition: all 0.8s ease-out 0s;
}

.messages__container {
}

.message__header {
    width: 100%;
    max-width: 880px;
    margin: 0px auto 40px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.messages__title {
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
    margin: 0px 0px 20px 0px;
}

.messages__subtitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.messages__row {
    user-select: none;
    pointer-events: none;
    display: flex;
    flex-direction: column;

    gap: 32px;
}

.messages__column {
    opacity: 0;
    visibility: hidden;
    transform: scale(0) perspective(800px) translate(100%, 0px) rotateX(45deg);
    width: 100%;
    flex: 1 1 162px;
    transition: all 0.8s ease-out 0s;
}

.messages__column.active {
    opacity: 1;
    visibility: visible;
    transform: scale(1) perspective(800px) translate(0%, 0px) rotateX(0deg);
    transition: all 0.8s ease-out 0s;
}

.message-item {
    position: relative;
    padding: 23px 33px;
    background: #FBF9F6;

    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.message-item::before {
    content: "";
    width: 3px;
    height: 75%;
    background: #C8B27B;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 5;
    transform: translate(0px,-50%);
}

.message-item__profile {
    flex: 1 0 350px;
}

.profile {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.profile__image {
    flex: 0 0 90px;
    height: 90px;
}

.profile__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.profile__data {
    min-height: 100%;
    display: grid;
}

.profile__name {
    font-size: 24px;
    font-weight: 600;
    line-height: 100%;
    margin: 0px 0px 5px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.profile__email {
    font-size: 16px;
    color: #646464;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.message-item__content {
    flex: 1 1 60%;
}

.message-item__title {
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    color: #000000;
    margin: 0px 0px 5px 0px;
}

.message-item__title:first-letter {
    text-transform: uppercase;
}

.message-item__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 142.9%;
    color: #545555;
}

/* Timer //======================================================================================================================================================== */

:root {
    --smaller: .75;
}

.timers.hidden {
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
}
.timers {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: all 0.3s ease-out 0s;
    user-select: none;
    pointer-events: none;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100vh;
    align-items: center;
    background-color: #ffd54f;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.timers .container {
    transition: all 0.3s ease-out 0s;
    color: #333;
    margin: 0 auto;
    text-align: center;
    font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen-Sans,
    Ubuntu,
    Cantarell,
    "Helvetica Neue",
    sans-serif;
}

.container h1 {
    font-weight: normal;
    letter-spacing: .125rem;
    text-transform: uppercase;
}

.container li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}

.container li span {
    display: block;
    font-size: 4.5rem;
}

.container .emoji {
    display: none;
    padding: 1rem;
}

.container .emoji span {
    font-size: 4rem;
    padding: 0 .5rem;
}

@media all and (max-width: 768px) {
    .container h1 {
        font-size: calc(1.5rem * var(--smaller));
    }

    .container li {
        font-size: calc(1.125rem * var(--smaller));
    }

    .container li span {
        font-size: calc(3.375rem * var(--smaller));
    }
}


/* Фигуры //======================================================================================================================================================== */

.rabbet {
    clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
}

.hexagon {
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.right-arrow {
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
}

.message {
    clip-path: polygon(0 9%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
}

.star {
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.pentagon {
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}

.rhomb {
    clip-path: polygon(61% 39%, 35% 29%, 7% 39%, 34% 90%);
}

/* //======================================================================================================================================================== */

.popup {
    -webkit-overflow-scrolling: touch;
    z-index: 100;
    padding: 30px 10px;
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.8s ease 0s;
    visibility: hidden;
}
.popup::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.8s ease 0s;
}
.popup.open {
    opacity: 1;
    overflow: auto;
    visibility: visible;
}
.popup.open::before {
    opacity: 1;
}
.popup.open .popup__content {
    transition: all 0.8s ease 0.2s;
    transform: scale(1) perspective(600px) translate(0px, 0%) rotateX(0deg);
}
.popup__modal {
    flex: 1 1 auto;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 50%;
    left: 0;
    z-index: 100;
    transform: translate(0, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.popup__content {
    transform: scale(0) perspective(600px) translate(0px, -100%) rotateX(45deg);
    transition: all 0.8s ease 0s;
    background: #ffffff;
    width: 100%;
    max-width: 800px;
    padding: 60px 30px;
    border-radius: 7px;
    user-select: none;
}
.popup__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup__close {
    position: absolute;
    cursor: pointer;
    top: 30px;
    right: 30px;
    color: #fff;
    font-size: 30px;
    z-index: 30;
    transition: all 0.3s ease-out;
    user-select: none;
}
@media (any-hover: hover) {
    .popup__close:hover {
        color: #ccc;
    }
}

@media (max-width: 520px){
    .info {
        font-size: 20px;
    }
    .messages__title {
        font-size: 24px;
        line-height: 32px;
        margin: 0px 0px 10px 0px;
    }
    .messages__subtitle {
        font-size: 16px;
        line-height: 21px;
    }
    .message-item__profile {
        flex: 1 1 auto;
    }
    .profile {
        flex-direction: column;
    }
    .profile__image {
        flex: 1 1 auto;
        width: 100px;
        height: 100px;
    }
    .message-item__title {
        font-size: 22px;
        line-height: 29px;
    }
    .message-item__text {
        font-size: 14px;
        line-height: 132.9%;
        text-align: justify;
    }
    /* //======================================================================================================================================================== */
    .popup__title {
        font-size: 24px;
    }
}